# Python requirements for this dev container
# Add your main project dependencies below
langflow
kagglehub
pandas
requests
beautifulsoup4
httpx
langchain-postgres
pgvector
psycopg2-binary
# Add any other packages you use in your notebooks/scripts below
